* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*###### FUENTES ######

font-family: 'Brygada 1918', serif;
font-family: 'Kaushan Script', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Bebas Neue', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Comfortaa', cursive;
TIPOGRAFIA DE LAS CARDS: Comfortaa 15px
*/

body {
    background-color: #ffff;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.bold {
    font-weight: bold;
}

.logo img {
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
}

.contenedor {
    width: 100%;
    height: 180px;
    position: fixed;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-nav {
    display: flex;
    margin-top: 60px;
}

.container-nav div {
    padding: 16px;
}

.container-nav .listado-nav {
    display: flex;
}

.listado-nav li {
    font-family: 'Comfortaa', cursive;
    font-size: 18px;
    padding: 16px;
}

.home-data {
    margin-top: 8rem;
    color: #fcf8f8;
}

#titular-principal {
    font-family: 'Bebas Neue', cursive;
    font-size: 2.8rem;
    line-height: 1.3;
    color: #fcf8f8;
}

.home-description {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-bottom: 2.5rem;
}

.home-button,
.home-button2 {
    font-size: 18px;
    font-family: sans-serif;
    background: #cc0000;
    color: #ffffff;
    display: inline-block;
    padding: 12px 9px 10px;
}

button:hover {
    cursor: pointer;
    background-color: #f1f1f1;
    color: #000000;
    border: 1px solid #cc0000;
    transition: 0.5s;
}

.titulado {
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    font-size: 48px;
    color: #000000;
}

.seccion__page {
    width: auto;
    height: 80vh;
}

.seccion__page p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 1.6;
    color: #010101;
    text-align: center;
}


/*############ Secciones de la Pagina ##################*/

section {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #010101;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-main {
    background-image: url("./assets/img/cookies-2.jpg");
    width: 100%;
    height: 100vh;
}


/*######### PRESENTACION #######*/

.container-main2 {
    background-image: url("./assets/img/cookies-6.jpg");
    width: 100%;
    height: 600px;
}

.container-main3 {
    background-image: url("./assets/img/cookies-5.jpg");
    width: 100%;
    height: 100vh;
    display: block;
}

.container-main4 {
    background-image: url("./assets/img/cookies-4.jpg");
    width: 100%;
    height: 600px;
}

.banner {
    width: 100%;
    height: 400px;
    text-align: center;
    background-color: cadetblue;
}

.carrito i {
    font-size: 30px;
}

.institucional {
    width: 100%;
    height: 400px;
    color: #fff;
    background-color: #a4161a;
}